@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div style="display: flex; height: 100vh;">

    <!-- Menu lateral -->
    <div style="width: 275px; background-color: @menuColor; color: black; padding: 10px; box-shadow: 2px 0 5px rgba(0,0,0,0.1);">
        <h3>BlazorApp</h3>

        <p style="color:black;">Background color: </p>
        <RadzenColorPicker @bind-Value="@backgroundColor" ShowHSV="true" ShowRGBA="false" ShowColors="true" ShowButton="false" />
        <p style="color:black;">Menu color: </p>
        <RadzenColorPicker @bind-Value="@menuColor" ShowHSV="true" ShowRGBA="false" ShowColors="true" ShowButton="false" />
    </div>

    <!-- Conteudo principal -->
    <div style="width:100%; height:100%; background-color:@backgroundColor;">
        <div>
            
            <QuickGrid Items="@people">
                <PropertyColumn Property="@(p => p.PersonId)" Sortable="true" />
                <PropertyColumn Property="@(p => p.Name)" Sortable="true" />
                <PropertyColumn Property="@(p => p.BirthDate)" Format="yyyy-MM-dd" Sortable="true" />
            </QuickGrid>
        </div>
    </div>
</div>

@code {
    private string backgroundColor = "rgb(255, 255, 255)";
    private string menuColor = "rgb(37, 150, 190)";

    record Person(int PersonId, string Name, DateOnly BirthDate);

    IQueryable<Person> people = new[]
    {
        new Person(10895, "Jean Martin", new DateOnly(1985, 3, 16)),
        new Person(10944, "António Langa", new DateOnly(1991, 12, 1)),
        new Person(11203, "Julie Smith", new DateOnly(1958, 10, 10)),
        new Person(11205, "Nur Sari", new DateOnly(1922, 4, 27)),
        new Person(11898, "Jose Hernandez", new DateOnly(2011, 5, 3)),
        new Person(12130, "Kenji Sato", new DateOnly(2004, 1, 9)),
    }.AsQueryable();
}